/*      
    style game Tic Tac Toe

    will style two pages will begin with index.html 

    then game.html

*/


/*   Start to style index.html page =============
=================================================*/
#body-index{
    background-image: url('https://cdn.substack.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fc87f3778-c8bb-4f29-b7f0-3cf6b01b3c18_1920x1080.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Russo One', sans-serif;
}
#container{
    width: 90%;
    margin: auto;
}


/* Start Header */
.flex-header{
    display: flex;
    justify-content: center;
    
}


#header-name .name-game{
    color: #000000;
    font-weight: bold;
    font-size: 70px;
}
/* End Header */

/* Start button */
.flex-section-button{
    display: flex;
    justify-content: center;
    
}
.sectionButt{
    position: relative;
    
}
.sectionButt .button{
    
    background-color: transparent;
    font-size: 40px;
    /*  border: ;*/
    border: 0;
    font-weight: bold;
}

/* .paddingBetweenButton{
    margin-left: 20px;
} */
.sectionButt {
    font-family: 'Fontdiner Swanky'
}

.button-position-game{
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 500px;
}
.button-position-quit{
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 550px;
}


/* Start button */
/*   End style index.html page ===================
=================================================*/


/*   Start style game.html page ===================
=================================================*/
#body-game{
    background-color: #2C9D58;
    font-family: 'Russo One', sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    

}
#container .container-game{
    
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);

}
.container-game button{
    font-size: 30px;
}


#buttClick{
    border: 10px solid #d1ccc0;
    background-color: #84817a;
    border: 10px solid #ccae62;
    
}

#container #menu{
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
    width: 100%;
    margin-right: 20px
}

#container #restart{
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
    width: 100%

}

#container .boardInst{
    background-color: #ccae62;
    border: 2px solid #706fd3;
    padding: 30px;
    margin-bottom: 30px;
    width: 30%
}

.width-align{
    width: 50%
}
#menu,#restart{
    font-family: 'Russo One', sans-serif;

}
/*   End style game.html page ===================
=================================================*/