/*      
    style game Tic Tac Toe
    will style two pages will begin with index.html 
    then game.html
*/


/*   Start to style index.html page =============
=================================================*/
#body-index{
    background-image: url('https://cdn.substack.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fc87f3778-c8bb-4f29-b7f0-3cf6b01b3c18_1920x1080.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Russo One', sans-serif;
}
#container{
    width: 90%;
    margin: auto;
}


/* Start Header */
.flex-header{
    display: flex;
    justify-content: center;
    
}


#header-name .name-game{
    color: #000000;
    font-weight: bold;
    font-size: 70px;
}
/* End Header */

/* Start button */
.flex-section-button,
.flex-signs{
    display: flex;
    justify-content: center;
    
}
.sectionButt{
    position: relative;
    
}
.sectionButt .button{
    
    background-color: transparent;
    font-size: 40px;
    /*  border: ;*/
    border: 0;
    font-weight: bold;
    
}
.sectionButt #butGame:hover{
    text-shadow: 1px 1px 2px black, 0 0 2px black, 0 0 2px white;
}
.sectionButt #quit:hover{
    text-shadow: 1px 1px 2px black, 0 0 2px black, 0 0 2px white;
}
/* .paddingBetweenButton{
    margin-left: 20px;
} */
.sectionButt {
    font-family: 'Fontdiner Swanky'
}

.button-position-game{
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 500px;
}
.button-position-quit{
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 550px;
}


/* Start button */
/*   End style index.html page ===================
=================================================*/


/*   Start style game.html page ===================
=================================================*/
#body-game{
    background-color: #2C9D58;
    font-family: 'Russo One', sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    
}

#container #custome-game{
    border: 3px solid #000000;
    margin-top: 20px;
    padding-bottom: 5px;
}
.container-game{
    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

}
.container-game button{
    font-size: 30px;
}
.container-game .styleButton{
    font-size: 84px;
    background-color: transparent;
    border: 1px solid;
    transition: 1s;
}
.styleButton:hover{
    background-color: #84817a;
}


#color-background{
    width: 100%;
    padding-bottom: 10px;
}
#color-text{
    width: 100%
}
#buttClick{
    border: 10px solid #d1ccc0;
    background-color: #84817a;
    border: 10px solid #ccae62;
}

#menu{
    border-radius: 20px;
    margin-top: 30px;
    width: 100%;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    font-size: 30px;
}
#menu:hover,
#restart:hover{
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 2px black, 0 0 2px white;
}
#restart{
    background-color: transparent;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    width: 100%;
    font-size: 30px;
}

.boardInst{
    font-size: 30px;
    padding: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-top: 30px
}
.width-align{
    width: 50%
}
#menu,#restart{
    font-family: 'Russo One', sans-serif;

}
/*   End style game.html page ===================
=================================================*/


/* Start Animations ===============================
======================================================*/
