/*      
    style game Tic Tac Toe

    will style two pages will begin with index.html 

    then game.html

*/


/*   Start to style index.html page =============
=================================================*/
body{

    /* background-image: url('/img/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     */
}
#container{
    width: 90%;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: center;
}
/* Start Header */
#header-name .name-game{
    color: #f7f1e3;
    font-weight: bold;
}
/* End Header */

/* Start button */

.sectionButt .button{
    padding: 20px 80px;
    width: 40%;
    font-size: 30px;
    color: #40407a;
    background-color: #ccae62;
    /*  border: ;*/
    
}

.paddingBetweenButton{
    margin-left: 20px;
}
/* Start button */
/*   End style index.html page ===================
=================================================*/

/*   Start style game.html page ===================
=================================================*/
.flex{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    

}
#container .container-game{
    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

}
.container-game button{
    font-size: 30px;
}


#buttClick{
    border: 10px solid #d1ccc0;
    background-color: #84817a;
    border: 10px solid #ccae62;
    
}

#container #menu{
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
    
}

#container .boardInst{
    background-color: #ccae62;
    border: 2px solid #706fd3;
    padding: 30px;
    margin-bottom: 30px;
    width: 30%
}

.width-align{
    width: 50%
}
/*   End style game.html page ===================
=================================================*/